jsonPath=/home/ivan/src/etg-mate-server/mate-test-cases.json
packageName=de.dotwee.micropinner
compiledPackageName=de.dotwee.micropinner
testPackageName=de.dotwee.micropinner
rootProjectPath=/home/ivan/latex/etg-paper/experiments/subjects/de.dotwee.micropinner/
outputPath=/home/ivan/latex/etg-paper/experiments/subjects/de.dotwee.micropinner/app/src/androidTest/java/de/dotwee/micropinner/
