<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="de.dotwee.micropinner">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        tools:ignore="GoogleAppIndexingWarning">

        <activity
            android:name=".view.MainDialog"
            android:excludeFromRecents="true"
            android:label="@string/main_name"
            android:theme="@style/DialogTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name=".receiver.OnDeleteReceiver" />

        <receiver android:name=".receiver.OnClipReceiver" />

        <receiver
            android:name=".receiver.OnBootReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

    
                     <!-- emma updated -->
                    <activity 
                        android:label="EmmaInstrumentationActivity" 
                        android:name="de.dotwee.micropinner.EmmaInstrument.InstrumentedActivity"/>
                    <receiver android:name="de.dotwee.micropinner.EmmaInstrument.CollectCoverageReceiver">
                    <intent-filter>
                        <action android:name="evolutiz.emma.COLLECT_COVERAGE" />
                    </intent-filter>
                </receiver>
                 <!-- emma updated -->
                    </application>

                
                 <!-- emma updated -->
                 <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>  
                 <instrumentation 
                    android:handleProfiling="true" 
                    android:label="EmmaInstrumentation" 
                    android:name="de.dotwee.micropinner.EmmaInstrument.EmmaInstrumentation" 
                    android:targetPackage="de.dotwee.micropinner"/>
                 <!-- emma updated -->
    
                
</manifest>
